@tailwind base;
@tailwind components;
@tailwind utilities;

.my-button {
  @apply h-6 w-6 cursor-pointer dark:stroke-white hover:text-gray-300 active:text-gray-400;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-5px); }
  25%  { transform: translateX(5px); }
  40%  { transform: translateX(-5px); }
  50%  { transform: translateX(5px); }
  60%  { transform: translateX(-5px); }
  75%  { transform: translateX(5px); }
  90%  { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes colorFadeGray { 
  0% { border-color: #d3d6da; background-color: #ffffff; } 
  20% { border-color: #ffffff; background-color: #ffffff; } 
  100% {border-color: #787c7e; background-color: #787c7e; } 
}

@keyframes colorFadeYellow {
  0% { border-color: #d3d6da; background-color: #ffffff; } 
  20% { border-color: #ffffff; background-color: #ffffff; } 
  100% { border-color: #c9b458; background-color: #c9b458; }
}

@keyframes colorFadeGreen {
  0% { border-color: #d3d6da; background-color: #ffffff; } 
  20% { border-color: #ffffff; background-color: #ffffff; } 
  100% {border-color: #6aaa64; background-color: #6aaa64; }
}

.color-fade-gray {
  animation: colorFadeGray 0.6s linear 1; /* Duration and timing function */
}
.color-fade-yellow {
  animation: colorFadeYellow 0.6s linear 1; /* Duration and timing function */
}
.color-fade-green {
  animation: colorFadeGreen 0.6s linear 1; /* Duration and timing function */
}
